.question-info{
    text-align: center;
    margin-top: 20px;
}

.question-author{
    margin-right: 10px;
    text-align: center;

}

.avatar{
    height: 50px;
    width: 50px;
}

.answer-list li{
    list-style: none;
    border-bottom: 1px solid #eee;
}
.answer-list{
    padding-left: 10px;
}

.user-info{
    font-size: 16px;
    color: #9b9b9b;
    line-height: 50px;
}

.username{
    margin-left: 20px;
}
.create_time{
    float: right;
}
.answer-content{
    margin-left: 75px;
}